<launch>
		<arg name="recipient"	default="l3_414b" />
		<arg name="message"		default="Empty" />
		
        <node name="messenger" pkg="bwi_tasks" type="message_delivery" output="screen">
			<param name="recipient"	value="$(arg recipient)"	/>
			<param name="message"	value="$(arg message)"		/>    
        </node>
        
        <node name="backgroundsound" pkg="sound_play" type= "soundplay_node.py"/>
</launch>
