<launch>
		<arg name="location"	default="" 			/>
		<arg name="message"		default="" 			/>
		
        <node name="messenger" pkg="bwi_tasks" type="message_delivery" output="screen">  
			<param name="location"	value="$(arg location)"		/>
			<param name="message"	value="$(arg message)"		/> 
        </node>
        
        <node name="backgroundsound" pkg="sound_play" type= "soundplay_node.py"/>
</launch>
