<launch>

  <!-- Start the example multi map server -->
  <include file="$(find multi_level_map_server)/launch/example.launch" />

  <!-- Start the level mux -->
  <node name="level_mux" pkg="multi_level_map_utils" type="level_mux" />

  <!-- Start the level selector -->
  <node name="level_selector" pkg="multi_level_map_utils" type="level_selector" />

</launch>
