<launch>

    <arg name="sim_positions" default="$(find bwi_scavenger)/support/simulation.yaml" />
    <arg name="real_positions" default="$(find bwi_scavenger)/support/real.yaml" />

    <param name="path_to_search_points" value="$(arg real_positions)" />

    <node name="scavenger" pkg="bwi_scavenger" type="scavenger" />

    <include file="$(find bwi_logging)/launch/record.launch" />

</launch>
