<launch>

  <arg name="dir_path" default="." />
  <arg name="map_file" />
  <arg name="location_file" default="$(arg dir_path)/locations.yaml" />
  <arg name="door_file" default="$(arg dir_path)/doors.yaml" />
  <node name="mark_doors" type="mark_doors" pkg="bwi_planning_common" 
    args="$(arg map_file) $(arg door_file) $(arg location_file)" 
    output="screen" required="true" />

</launch>
