<?xml version="1.0"?>

<root xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- generic constants -->
  <xacro:property name="M_PI" value="3.14159265359" />

  <!-- colors -->
  <material name="light_grey">
    <color rgba="0.7 0.7 0.7 1" />
  </material>
  <material name="dark_grey">
    <color rgba="0.4 0.4 0.4 1" />
  </material>
  <material name="red">
    <color rgba="1.0 0.0 0.0 1" />
  </material>

</root>

