<launch>

  <!-- invoke bwi_kr_execution.launch with different arg defaults. -->
  <arg name="simulation" default="false" />
  <arg name="domain" default="$(find bwi_kr_execution)/domain_dialog/" />
  <arg name="executor" default="learning_executor_node" />
 
  <include file="$(find bwi_kr_execution)/launch/bwi_kr_execution.launch"
           pass_all_args="true" />

</launch>
