<launch>
  
  <arg name="data_directory" default="$(find bwi_kr)/config/real3ne" />
  <arg name="map_file"  default="$(find bwi_kr)/maps/map_whole2_with_elevators_new.yaml" />

  <!-- launch rviz -->
  <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"> </include>

  <!-- launch turtlebot localization, and local/global path planning nodes -->
  <include file="$(find turtlebot_navigation)/launch/amcl_demo.launch">
    <arg name="map_file" value="$(arg map_file)" />
  </include>

  <!-- launch turtlebot platform driver -->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch" />

  <!-- launch logical navigator -->
  <node name="segbot_logical_navigator" pkg="segbot_logical_translator"
        type="segbot_logical_navigator" output="screen">
    <param name="map_file" value="$(arg map_file)" />
    <param name="data_directory" value="$(arg data_directory)" />
  </node>

  <!-- launch the gui -->
  <node name="segbot_gui" pkg="segbot_gui" type="question_dialog_plugin" />

  <!-- launch the sound play node -->
  <node name="soundplay" pkg="sound_play" type="soundplay_node.py" />

  <!-- logging node -->
  <include file="$(find bwi_logging)/launch/record.launch"> </include>

  <param name="/move_base/TrajectoryPlannerROS/max_vel_x" value="0.15"/>
  <param name="/amcl/recovery_alpha_slow" value="0.005"/>
  <param name="/amcl/recovery_alpha_fast" value="0.1"/>
  <param name="/amcl/min_particles" value="5000"/>
  <param name="/amcl/max_particles" value="20000"/>

</launch>
