<?xml version="1.0"?>

<robot name="person"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Included URDF Files -->
  <xacro:include filename="$(find bwi_gazebo_entities)/urdf/common.urdf.xacro" />
  <xacro:include filename="$(find bwi_gazebo_entities)/urdf/person.urdf.xacro" />
  <xacro:include filename="$(find bwi_gazebo_entities)/gazebo/controllable_person.gazebo.xacro" />

  <!-- Add the person -->
  <xacro:person />

  <!-- Add the generic camera to do obstacle avoidance -->
  <xacro:generic_camera name="camera" />

</robot>

