<launch>

  <arg name="personid" default="person" />
  <arg name="world" default="gazebo" />
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="yaw" default="0" />
  <arg name="urdf_file"
    default="$(find bwi_gazebo_entities)/persons/controllable_person.urdf.xacro" />

  <param name="$(arg personid)_description"
    command="$(find xacro)/xacro.py '$(arg urdf_file)'" />

  <node name="spawn_person" pkg="gazebo_ros" type="spawn_model"
    args="-param $(arg personid)_description
    -urdf
    -x $(arg x)
    -y $(arg y)
    -Y $(arg yaw)
    -z 0
    -model $(arg personid)
    -gazebo_namespace /$(arg world)"
    respawn="false" output="screen">
  </node>

  <param name="camera/imager_rate" value="20.0" />

</launch>
