<launch>

  <arg name="gazebo_camera" default="gazebo_camera" />
  <arg name="world" default="gazebo" />
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0" />
  <arg name="urdf_file" 
    default="$(find bwi_gazebo_entities)/urdf/camera.urdf" />

  <param name="gazebo_camera_description" 
    textfile="$(arg urdf_file)" />

  <node name="spawn_gazebo_camera" pkg="gazebo_ros" type="spawn_model"
    args="-param gazebo_camera_description
    -urdf
    -x $(arg x)
    -y $(arg y)
    -z $(arg z)
    -model $(arg gazebo_camera)
    -gazebo_namespace /$(arg world)"
    respawn="false" output="screen">
  </node>

</launch>
