<launch>
        <node name="go_to_location_service" pkg="bwi_services" type="go_to_location_service" output="screen" />
	<node name="speak_message_service" pkg="bwi_services" type="speak_message_service" output="screen" />
	<node name="deliver_message_service" pkg="bwi_services" type="deliver_message_service" output="screen" />
</launch>
