<launch>
  <include file="$(find bwi_services)/launch/deliver_message.launch"></include>
  <node name="tour_manager" pkg="bwi_virtour" type="tour_manager">
     <param name="tour_enabled" value="true" />
  </node>
  <node name="startKrExecution" pkg="bwi_virtour" type="startKrExecution.sh" />
  <node name="go_to_location_service_node" pkg="bwi_virtour" type="go_to_location_service_node" />
  <node name="rotate_service_node" pkg="bwi_virtour" type="rotate_service_node" />
</launch>
