<?xml version="1.0"?>

<model>
  <name>myGDC</name>
  <version>1.0</version>
  <!-- <sdf version="1.6">combined.sdf</sdf> -->
<sdf version="1.5">combined.sdf</sdf>
  
  <author>
    <name>harsha</name>
    <email>harsha31.jagan@utexas.edu</email>
  </author>

  <!-- <depend>
    <model>
      <uri>model://myGDC</uri>
      <version>1.0</version>
    </model>
  </depend> -->

  <description>
    gdc with textures
  </description>
</model>
